* {
	margin: 0px;
	padding: 0px;
}

body {
	min-height: 10px;
	width: 600px;
	font-family: arial, Helvetica,sans-serif;
	overflow: none;
}

#bugList {
	float: left;
	width: 590px;
	max-height: 500px; 
	padding: 2px;
	overflow: auto;
}

.bug {
	font-size: 10pt;
	padding: 5px;
	float: left;
	width: 98%;
}

.bug_info {
	float: left;
	width: 140px;
	text-align: center;
}

.bug_number a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.bug_desc {
	margin-left: 145px;
}

.even {
	background-color: #eee;
}

.odd {
	background-color: #fff;
}

.bug:hover {
	background-color: #b5d1ff;
}

.header_link_left {
	font-size: 10pt;
	margin-left: 10px;
}

.header_link_right {
	float: right;
	margin-right: 10px;
	font-size: 10pt;
}

.hidden {
	display: none;
}
